<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="number">
    <button v-click="add">add</button>
    <button v-click="sub">sub</button>
    <h1 v-text="number"></h1>
    <input type="text" v-model="number1">
    <button v-click="add1">add</button>
    <button v-click="sub1">sub</button>
    <h1 v-text="number1"></h1>
</div>
</body>
<script>
    class myVue {
        constructor(opt) {
            this.$el = document.querySelector(opt.el);
            this.$data = opt.data;
            this.$methods = opt.methods;
            this._binding = {};
            this._obverse(this.$data);
            this._complie(this.$el);
        }

        _obverse(obj) {
            Object.keys(obj).forEach(key => {
                this._binding[key] = {
                    _directives: []
                };
                let value = obj[key];
                let _this = this;
                Object.defineProperty(this.$data, key, {
                    enumerable: true,
                    configurable: true,
                    get() {
                        return value
                    },
                    set(newValue) {
                        if (newValue !== value) {
                            value = newValue;
                            _this._binding[key]._directives.forEach(item => {
                                item.upDate();
                            })
                        }
                    }
                })
            })
        }

        _complie(node) {
            let nodes = node.children;
            for (let i = 0; i < nodes.length; i++) {
                let nodeItem = nodes[i];

                //v-text数据绑定的实现
                if (nodeItem.hasAttribute("v-text")) {
                    let attrValue = nodeItem.getAttribute("v-text");
                    this._binding[attrValue]._directives.push(new Watcher(nodeItem, this, attrValue, "innerText"))
                }
                //v-click实现
                if (nodeItem.hasAttribute("v-click")) {
                    let attrValue = nodeItem.getAttribute("v-click");
                    nodeItem.onclick = (() => {
                        return this.$methods[attrValue].bind(this.$data)
                    })()
                }
                //v-model实现
                if (nodeItem.hasAttribute("v-model") && (nodeItem.tagName === 'INPUT' || nodeItem.tagName === 'TEXTAREA')) {
                    let attrValue = nodeItem.getAttribute("v-model");
                    nodeItem.oninput = (() => {
                        this._binding[attrValue]._directives.push(new Watcher(nodeItem, this, attrValue, "value"));
                        return () => {
                            this.$data[attrValue] = nodeItem.value;
                        }
                    })()
                }
            }
        }
    }

    //观测者Watcher
    class Watcher {
        constructor(el, vm, exp, attr) {
            this.el = el;             //指令对应的DOM元素
            this.vm = vm;             //指令所属myVue实例
            this.exp = exp;           //指令对应的值，本例如"number"
            this.attr = attr;         //绑定的属性值，本例为"innerHTML"
            this.upDate();
        }

        upDate() {
            this.el[this.attr] = this.vm.$data[this.exp];
        }
    }

    new myVue({
        el: "#app",
        data: {
            number: 12,
            number1: 20
        },
        methods: {
            add() {
                this.number++
            },
            sub() {
                this.number--
            },
            add1() {
                this.number1++
            },
            sub1() {
                this.number1--
            }
        }
    })
</script>
</html>